<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="primary">close</mat-icon>
  </button>
  <div *ngIf="datos" class="template">
  <mat-dialog-content>
    <h4>Pedido Restaurante FlaxBeli</h4>
    <p>Notas: {{datos.notas}}</p>
    <p>Subtotal: {{datos.subtotal}}</p>
    <h4>Datos del usuario:</h4>
    <ul *ngIf="datos.usuario">
      <h4 >Usuario: {{datos.usuario.nombre}}</h4>
      <h4 >Tipo de Usuario: {{datos.usuario.role}}</h4>
    </ul>
    <h4>Datos de los productos:</h4>
      <ul *ngIf="datos.productos">
        <h4 *ngFor="let item of datos.productos">Producto: {{item.producto.nombre}} Cantidad: {{item.cantidad}} </h4>
        
     </ul>
     <h4>Datos Mesa:</h4>
     <ul *ngIf="datos.mesa">
       <h4 >Código Mesa: {{datos.mesa.codigoMesa}}</h4>
     </ul>
  </mat-dialog-content>
  
  <mat-dialog-actions>
   
  </mat-dialog-actions>
  </div>
  
