<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="primary">close</mat-icon>
  </button>
<div *ngIf="datos" class="template">
<mat-dialog-content >
  <p>Identificador: {{datos.id}}</p>
 <p>Capacidad: {{datos.capacidad}}</p>
 <h4>Código Restaurante: {{datos.restauranteId}}</h4>
 <h4 *ngIf="datos.restaurante">Nombre Restaurante: {{datos.restaurante.nombre}}</h4>

</mat-dialog-content>

<mat-dialog-actions>
   
</mat-dialog-actions>
</div>
