
<body>
    <div class="about-section">
      <h1>Acerca de</h1>
      <p class="p2">Restuarante FlaxBeli: ResFlaxBeli@gmail.com</p>
      <p class="p2">Diferentes sedes en: San Jose, Alajuela y Heredia.</p>
      <p class="p2">Teléfono: 24638952.</p>
      <p class="p2">Nuestros desarrolladores están a sus ordenes para cualquier duda o servicio que necesiten sobre nuestra página.</p>
    </div>
    <section class="image-1">
    <h2 style="text-align:center; color: rgb(255, 217, 4);" >Equipo Desarrollador</h2>
    <div class="row">
        <div class="column">
          <div class="card">
            <div class="derecha"> 
              <div class="container">
                <h2>Kevin David Pérez Flores</h2>
                <p class="title">Desarrollador Backend.</p>
                <p>Ingeniero en Software </p>
                <p>Correo:perezfloreskevin@gmail.com</p>
                <p>Número Teléfonico: 86898004</p>
                <p>De: Sarapiquí, Costa Rica</p>
                <p  style="text-align:center;"><img src="../../../assets/images/kevinperfil.png" width="150px"  ></p>
                <p><a href="mailto:perezfloreskevin@gmail.com"><button class="button">Contactactar</button>  </a></p>
              </div>
            </div> 
          </div>
        </div>
        <div class="column2">
          <div class="card">
            <div class="izquierza">
              <div class="container">
                <h2>Isaac Rodríguez Varela</h2>
                <p class="title">Desarrollador FronEnd.</p>
                <p>Ingeniero en Software</p>
                <p>Correo: IsaacRodri05@gmail.com</p>
                <p>Número Teléfonico: 85436964</p>
                <p>De: Zarcero, Costa Rica</p>
                <p  style="text-align:center;"><img src="../../../assets/images/perfil2.png" width="150px" height="177px"  ></p>
                <p><a href="mailto:IsaacRodri05@gmail.com"><button class="button">Contactactar</button>  </a></p>
              </div>
            </div> 
          </div>
        </div>
    </div>
  </section>
</body>